/*#addDept
{
	
    margin-bottom: 1em;
    background-color: #32c867 !important;
    color: white !important;
	padding-top: 10px !important;
    padding-bottom: 10px !important;
		
}
#outer
{
	color:rgb(59, 179, 255);
	
}
/*
